@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Kumbh+Sans:wght@300;400;700&family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap");
nav .user p {
  position: absolute;
  right: 5%;
  top: 3%;
  font-family: "Alatsi", sans-serif;
}

nav .user p:hover {
  cursor: pointer;
}

nav .search-bar {
  position: absolute;
  right: 10%;
  top: 2.4%;
}

nav .search-bar .flexbox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .search-bar .search > div {
  display: inline-block;
  position: relative;
}

nav .search-bar .search > div:after {
  content: "";
  background: black;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: -3px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .search-bar .search > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px black;
  outline: none;
  border-radius: 35px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1px;
}

nav .search-bar .search > div > input::-webkit-input-placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

nav .search-bar .search > div > input:-ms-input-placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

nav .search-bar .search > div > input::-ms-input-placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

nav .search-bar .search > div > input::placeholder {
  color: black;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

nav .search-bar .search > div > input:focus::-webkit-input-placeholder {
  opacity: 1;
}

nav .search-bar .search > div > input:focus:-ms-input-placeholder {
  opacity: 1;
}

nav .search-bar .search > div > input:focus::-ms-input-placeholder {
  opacity: 1;
}

nav .search-bar .search > div > input:focus::placeholder {
  opacity: 1;
}

nav .search-bar .search > div > input:focus,
nav .search-bar .search > div > input:not(:placeholder-shown) {
  width: 250px;
}

nav .logo {
  position: absolute;
  top: 2.4%;
  left: 5%;
}

nav .logo a:hover {
  text-decoration: none !important;
}

nav .logo h1 {
  color: #292929;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

nav .logo h1:hover {
  cursor: pointer;
}

nav .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 3%;
  left: 50%;
  width: 18%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .navlinks li a {
  font-size: 19px;
  color: #292929;
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
}

nav .navlinks li a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav .navlinks {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1155px) {
  nav .navlinks {
    width: 25%;
  }
}

@media only screen and (max-width: 956px) {
  nav .navlinks {
    width: 30%;
  }
}

@media only screen and (max-width: 956px) {
  nav .logo {
    top: 3.2%;
  }
  nav .logo h1 {
    font-size: 20px;
  }
  nav .navlinks {
    width: 35%;
  }
  nav .navlinks li a {
    font: 10px;
  }
}
/*# sourceMappingURL=Navbar.css.map */